version: "3.9"

services:
  frontend:
    build: .
    container_name: ycphacks
    networks:
      - webnet
    env_file:
      - .env
    ports:
      - "8080:8080"
networks:
  webnet:
    external: true